ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li button {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #f9f9f9;
    border: 1px;
    border-radius: 30px;
}

#loginButton {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    font-weight: 400;
    font-style: oblique;
}

#loginButton:hover {
    background-color: #969a9d;
}